.iconNavBar {
  width: 4vw;
}

.conectedIcon {
  font-size: 1.5rem;
}
.logOutButton {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  justify-content: center;
}
.mb-3 input {
  width: 30vw;
}
.containerHomePage {
  display: flex;

  min-height: 89vh;
  justify-content: space-around;
  align-items: center;
}
.cardHomeLeft {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
}
.cardHomeRight {
  margin-right: 2rem;
}
.homePageLink {
  background-color: #365486;
  width: 15vw;
  display: flex;
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
  justify-content: center;
}
.homePageLink:hover {
  background-color: #36538695;
}
.containerHomePage {
  background-image: url("./assets/bacjground2.jpg");

  background-size: contain;
}
.homePageLink a {
  text-decoration: none;
  color: aliceblue;

  font-weight: bold;
}
.cardHomeLeft p {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
}
.cardHomeLeft span {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
}
.containeResume {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 5rem;

  width: 50%;
  color: #365486;
}

.headingResume {
  text-align: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.picResumeBuilder {
  width: 50%;
  height: 100%;
}
.container-resume-builder {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background-image: url("./assets/dragon-scales.svg");

  display: flex;
  justify-content: center;
}
.button {
  padding: 16px 42px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: #365486;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(white, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
  }
  &:focus,
  &:hover {
    background: darken(#fc6e51, 7%);
  }
  &:active {
    &:after {
      width: 300px;
      height: 300px;
    }
  }
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.logInMail {
  cursor: pointer;
}

.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #365486;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;

  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10vw;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #207fc2;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 3rem;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);

  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #405cf5;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #405cf5;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

/* card */
.containerCard {
  display: flex;
  min-height: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-repeat: no-repeat;

  background-size: cover;
}
.resumeLeft {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.677);
  color: aliceblue;
  align-items: center;
}
.resumeLeft img {
  width: 6vw;
}
.resumeRight {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  align-items: center;
  padding: 2rem;
}
.containerNoteResume {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
}
.cardFullResume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9em;
  width: 100%;

  height: 100%;
}
.tamplates {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  gap: 8rem;
}
.tamplates a {
  border-radius: 50%;
}
.tamplates a img {
  width: 15vw;
}

.tamplates a:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.conainerTamplates {
  background-image: url("./assets/bacjground2.jpg");
  background-size: contain;
  background-repeat: repeat;
}

@media only screen and (max-width: 800px) {
  .picCoverHome {
    width: 100%;
    height: 100%;
  }
  .cardHomeRight {
    width: 50%;
    height: 100%;
  }
  .picCoverHome {
    width: 50vw;
    height: 100%;
  }
  .cardHomeLeft p {
    font-size: 1.5rem;
  }
  .cardHomeLeft span {
    font-size: 1rem;
  }
  .homePageLink {
    width: 25vw;
    text-align: center;

    font-size: 0.8rem;
  }
  .container-resume-builder {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .formContainer {
    width: 100%;
    height: 100%;
  }
  .containeResume {
    width: 100vw;
    margin-right: 1rem;
  }
}
