.iconNavBar {
  width: 5vw;
}
.menu {
  list-style: none;
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  width: 100%;
  margin-right: 3rem;
}
.menu a {
  text-decoration: none;
  color: aliceblue;
}
.menu a:hover {
  color: black;
  text-decoration: underline;
}
#logInMail {
  color: black;
}
.mailLoged {
  color: black;
  display: flex;
  gap: 0.5rem;
}
.conectedIcon {
  font-size: 1.5rem;
}
.logOutButton {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  justify-content: center;
}
.mb-3 input {
  width: 30vw;
}
.containerHomePage {
  display: flex;

  min-height: 89vh;
  justify-content: space-around;
  align-items: center;
}
.cardHomeLeft {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
}
.cardHomeRight {
  margin-right: 2rem;
}
.homePageLink {
  background-color: #365486;
  width: 15vw;
  display: flex;
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
  justify-content: center;
}
.homePageLink:hover {
  background-color: #36538695;
}
.containerHomePage {
  background-image: url("./assets/bacjground2.jpg");

  background-size: contain;
}
.homePageLink a {
  text-decoration: none;
  color: aliceblue;

  font-weight: bold;
}
.cardHomeLeft p {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
}
.cardHomeLeft span {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
}
.containeResume {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  margin: 9rem;
}
.navBar {
  background-color: #365486;

  height: 6.5vw;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}
.headingResume {
  text-align: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.container-resume-builder {
  width: 100%;
  height: 100%;
  align-items: center;
  background-image: url("./assets/background.svg");
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
}

.button-19 {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  display: flex;
  justify-content: center;

  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  /* vertical-align: middle; */
  white-space: nowrap;
  width: 7rem;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.logInMail {
  cursor: pointer;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
